*{
  box-sizing: border-box;
}


html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
    background-image: url("../Diego/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        
        -o-background-size: cover;
    
        
   
  }
  
  h1, h2 {
    font: family 3.5em 'Faster One', cursive;
    color:rgb(39, 20, 20)   
  }
  
  /* header styles */
  
  h1 {
    
    font-size: 4rem;
    text-align: center;
  }
  
  header p {
   
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: rgb(41, 21, 87);
  }
  
  #naruto{
    
    margin: 20px;
    border-radius: 20rem;
    padding: 1rem;
   }

  #sasuke{
    padding: 1rem;
    border-radius: 20rem;
    margin: 20px;
  }
  
   

  #neji{
    padding: 1rem;  
    border-radius: 20rem;
    margin: 10px;
  }

  /* section styles */
  
  section article {
  
    
    width: 33%;
    float: left;
  }
  




  section p {
    
    margin: 0;
    color: rgb(1, 1, 1);
  }
  
  section ul {
    padding: 40px;
    margin-top: 0;
    color: rgb(249, 243, 243);
  }
  
  h2 {
    
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
   
  }

 
  
  